In [87]:
import pandas as pd
st_0050_09, st_0050_10 = pd.read_csv("STOCK_DAY_0050_202009.csv"), pd.read_csv("STOCK_DAY_0050_202010.csv")

In [88]:
st_0050_09.head()

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
1  109/09/02  103.65  104.05  102.30  103.00
2  109/09/03  103.70  104.30  103.20  103.30
3  109/09/04  102.00  102.70  101.90  102.55
4  109/09/07  102.55  103.05  101.90  102.40

In [89]:
st_0050_10.head()

        date    open    high     low   close
0  109/10/05  103.45  104.05  103.00  103.05
1  109/10/06  104.00  104.35  103.85  104.25
2  109/10/07  104.00  105.00  103.50  104.80
3  109/10/08  105.45  106.35  105.30  106.20
4  109/10/12  106.70  107.70  106.70  107.05

In [92]:
st_0050_09_10 = pd.concat([st_0050_09, st_0050_10], axis = 0)

In [95]:
st = st_0050_09_10.loc[st_0050_09_10.open < st_0050_09_10.close].set_index(["date"])
st

             open    high     low   close
date
109/09/01  102.45  103.35  101.85  103.35
109/09/04  102.00  102.70  101.90  102.55
109/09/08  102.75  103.10  102.45  103.00
109/09/09  101.75  102.35  101.15  102.30
109/09/10  102.80  103.35  102.60  103.20
109/09/11  103.20  103.35  102.80  103.25
109/09/14  103.50  104.55  103.25  104.55
109/09/15  104.45  105.20  104.25  104.95
109/09/28  101.35  102.30  101.00  102.30
109/09/30  102.75  103.45  102.60  103.00
109/10/06  104.00  104.35  103.85  104.25
109/10/07  104.00  105.00  103.50  104.80
109/10/08  105.45  106.35  105.30  106.20
109/10/12  106.70  107.70  106.70  107.05
109/10/19  105.65  106.60  105.60  106.60
109/10/22  105.70  106.10  105.50  106.10

In [96]:
st2 = st_0050_09_10.loc[st_0050_09_10.open < st_0050_09_10.close]

In [97]:
st2

         date    open    high     low   close
0   109/09/01  102.45  103.35  101.85  103.35
3   109/09/04  102.00  102.70  101.90  102.55
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
19  109/09/28  101.35  102.30  101.00  102.30
21  109/09/30  102.75  103.45  102.60  103.00
1   109/10/06  104.00  104.35  103.85  104.25
2   109/10/07  104.00  105.00  103.50  104.80
3   109/10/08  105.45  106.35  105.30  106.20
4   109/10/12  106.70  107.70  106.70  107.05
9   109/10/19  105.65  106.60  105.60  106.60
12  109/10/22  105.70  106.10  105.50  106.10