In [9]:
import numpy as np
import pandas as pd

In [3]:
english_score = np.array([55,89,76,65,48,70])
math_score = np.array([60,85,60,68,55,60])
chinese_score = np.array([65,90,82,72,66,77])

In [6]:
a = sum(english_score > math_score)
print(a,"位")

3 位

In [18]:
(chinese_score > math_score) & (chinese_score > english_score)
#都是國文最高

array([ True,  True,  True,  True,  True,  True])

In [14]:
d = {'english' : english_score, 'math' : math_score, 'chinese' : chinese_score}
df = pd.DataFrame(d)
df

   english  math  chinese
0       55    60       65
1       89    85       90
2       76    60       82
3       65    68       72
4       48    55       66
5       70    60       77