## 作業
在鐵達尼資料集中，
透過進階補值方法 KNN，將鐵達尼號中的 Titanic_train
.csv 中的 age 的遺失值進行補值。    
* step1: 觀察 Age 和 Pclass 與 Sex 是否有關連性?
* step2: 如果有關連性，運用 KNN ，取出 Age 、 Pclass、 Sex的資料，以 Sex 與 Pclass 補 Age 遺失值。

In [1]:
# import library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

## 讀入資料

In [6]:
df = pd.read_csv('Titanic_train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 觀察 Age

In [22]:
complete_data = df[['Age','Pclass','Sex']].dropna()
Sex_mapping = {'male' : 1, 'female' : 0}
complete_data['Sex'] = complete_data['Sex'].map(Sex_mapping)
complete_data.head(10)

     Age  Pclass  Sex
0   22.0       3    1
1   38.0       1    0
2   26.0       3    0
3   35.0       1    0
4   35.0       3    1
6   54.0       1    1
7    2.0       3    1
8   27.0       3    0
9   14.0       2    0
10   4.0       3    0

In [23]:
# step1: 觀察 Age 和 Pclass 與 Sex 是否有關連性?
def corrtest(corr):
    if corr >= 0.7: print('高度正相關')
    elif (corr >= 0.3) & (corr < 0.7): print('中度正相關')
    elif (corr < 0.3) & (corr > 0): print('低度正相關')
    elif (corr > -0.3) & (corr < 0): print('低度負相關')
    elif (corr <= -0.3) & (corr > -0.7): print('中度負相關')
    elif corr <= -0.7: print('高度負相關')
    elif corr == 0: print('零相關')

In [29]:
corrPclass, _ = stats.pearsonr(complete_data['Age'], complete_data['Pclass'])
print('Pclass:', corrPclass, corrtest(corrPclass))
corrSex, _ = stats.pearsonr(complete_data['Age'], complete_data['Sex'])
print('Sex:' ,corrSex, corrtest(corrSex))

中度負相關
Pclass: -0.36922601531551735 None
低度正相關
Sex: 0.09325357685567742 None

In [31]:
# step2: 如果有關連性，運用 KNN ，取出 Age 、 Pclass、 Sex的資料，以 Sex 與 Pclass 補 Age 遺失值。
df['Sex'] = df['Sex'].map(Sex_mapping)
from sklearn import preprocessing
from sklearn.metrics.pairwise import nan_euclidean_distances
display(pd.DataFrame(nan_euclidean_distances(df[['Age','Pclass','Sex']])))

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
0,0.000000,16.155494,4.123106,13.190906,13.000000,0.000000,32.062439,20.000000,5.099020,8.124038,...,11.000000,1.000000,6.082763,3.000000,17.029386,5.099020,3.741657,1.224745,4.472136,10.000000
1,16.155494,0.000000,12.165525,3.000000,3.741657,2.738613,16.031220,36.069378,11.180340,24.020824,...,5.477226,16.124515,10.099505,13.190906,2.236068,11.090537,19.000000,2.449490,12.041595,6.403124
2,4.123106,12.165525,0.000000,9.219544,9.055385,1.224745,28.089144,24.020824,1.000000,12.041595,...,7.071068,4.000000,2.449490,1.414214,13.000000,1.732051,7.280110,0.000000,2.236068,6.082763
3,13.190906,3.000000,9.219544,0.000000,2.236068,2.738613,19.026298,33.075671,8.246211,21.023796,...,3.000000,13.152946,7.141428,10.246951,4.472136,8.124038,16.000000,2.449490,9.055385,3.741657
4,13.000000,3.741657,9.055385,2.236068,0.000000,0.000000,19.104973,33.000000,8.062258,21.047565,...,2.000000,13.038405,7.071068,10.000000,4.123106,8.062258,16.155494,1.224745,9.219544,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,5.099020,11.090537,1.732051,8.124038,8.062258,1.224745,27.018512,25.019992,1.414214,13.038405,...,6.082763,5.196152,1.000000,2.236068,12.083046,0.000000,8.124038,1.732051,1.414214,5.099020
887,3.741657,19.000000,7.280110,16.000000,16.155494,2.738613,35.014283,17.146428,8.246211,5.099020,...,14.177447,3.605551,9.110434,6.403124,20.099751,8.124038,0.000000,2.449490,7.071068,13.190906
888,1.224745,2.449490,0.000000,2.449490,1.224745,1.224745,2.738613,1.224745,0.000000,1.224745,...,1.224745,0.000000,1.732051,1.224745,0.000000,1.732051,2.449490,0.000000,2.738613,1.224745
889,4.472136,12.041595,2.236068,9.055385,9.219544,2.449490,28.000000,24.083189,2.449490,12.083046,...,7.280110,4.582576,2.236068,2.236068,13.190906,1.414214,7.071068,2.738613,0.000000,6.324555
890,10.000000,6.403124,6.082763,3.741657,3.000000,0.000000,22.090722,30.000000,5.099020,18.055470,...,1.000000,10.049876,4.123106,7.000000,7.071068,5.099020,13.190906,1.224745,6.324555,0.000000

In [37]:
value_neighbors = 1
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors = value_neighbors)
df_filled = pd.DataFrame(imputer.fit_transform(df[['Age','Pclass','Sex']]))

In [38]:
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       891 non-null    float64
 1   1       891 non-null    float64
 2   2       891 non-null    float64
dtypes: float64(3)
memory usage: 21.0 KB

In [41]:
display(df_filled)

        0    1    2
0    22.0  3.0  1.0
1    38.0  1.0  0.0
2    26.0  3.0  0.0
3    35.0  1.0  0.0
4    35.0  3.0  1.0
..    ...  ...  ...
886  27.0  2.0  1.0
887  19.0  1.0  0.0
888  26.0  3.0  0.0
889  26.0  1.0  1.0
890  32.0  3.0  1.0

[891 rows x 3 columns]